.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}
.ai-message {
    background-color: lightgray;
    float: left;
    padding-right: 20px;
    clear: both;
    width: auto * 2; /* Adjust as needed */
    max-width: 40%;
}
.person-message {
    background-color: lightblue;
    float: right;
    padding-left: 20px;
    clear: both;
    width: auto; /* Adjust as needed */
    max-width: 40%;
}

.input-container {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

#text-input {
    width: 70%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

#submit-button {
    width: 60px;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 20px;
}

#submit-button:hover {
    background-color: #0062cc;
}